<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}" style="font-family: 'Sen', sans-serif">News Mine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#news-mine-nav"
                aria-controls="news-mine-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="news-mine-nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'news_list_api' %}">API</a>
                </li>
            </ul>
        </div>
    </div>
</nav>