{% extends 'layout.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <section>
        <div class="container mb-3">
            <h1 class="mt-5">Latest News</h1>
            <div class="news-wrapper">
                <div class="row">
                    {% for article in news_list %}
                        <div class="col-4 mt-4">
                            <div class="row news h-100">
                                <div class="col-4 d-flex align-items-center">
                                    <img src="{{ article.image_url }}" alt="" width="120">
                                </div>
                                <div class="col-8 position-relative">
                                    <a href="{{ article.url }}">
                                        <p class="">
                                            {{ article.title }}
                                        </p>
                                    </a>
                                    <p class="position-absolute bottom-n15px">
                                        {{ article.published_at|date:'d M, Y' }} | {{ article.source_name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <nav class="mt-5">
                    {% if is_paginated %}
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">&laquo;</a>
                                </li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </section>
{% endblock %}